/* Move the styles from LineUp.module.css to this file */
.artistCard {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    scroll-margin-top: 100px; /* Aumentamos el margen para el navbar */
}

/* Odd cards (1st, 3rd, etc) */
.artistCard:global(:nth-of-type(odd)) {
    background:var(--orange-color);
}

/* Even cards (2nd, 4th, etc) */
.artistCard:global(:nth-of-type(even)) {
    background: var(--green-color);
}

.expanded:global(:nth-of-type(odd)) {
    background: linear-gradient(var(--orange-color), rgba(0,0,0,0.8)), var(--image-url) !important;
    background-size: cover !important;
    background-position: center !important;
}
.expanded:global(:nth-of-type(even))
 {
    background: linear-gradient(var(--green-color), rgba(0,0,0,0.8)), var(--image-url) !important;
    background-size: cover !important;
    background-position: center !important;
}
.artistHeader {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.artistHeader h2 {
    margin-right: 1rem;
    flex: 1;
    font-size: 2rem;
    color: var(--text-color);
    font-family: var(--font-secondary);
}

.artistImage {
    width: 120px;
    height: 70px;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.bandImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expanded .artistImage {
    opacity: 0;
}

.artistContent {
    position: relative;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1.5rem;
    color: white;
}

.expanded .artistContent {
    max-height: 800px;
    padding: 1.5rem;
}

.artistActions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.embedContainer {
    width: 100%;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.embedContainer iframe {
    max-width: 100%;
    margin: 0 auto;
}
.instagramLink {
    padding: 0.8rem 1rem;
    background: var(--pink-color);
    color: var(--font-color);
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.2s ease;
    text-align: center;
}

.instagramLink:hover {
    transform: scale(1.05);
}
.description {
    text-align: center;
}