.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
}

/* Importar estilos base compartidos */
@import '../shared/FormStyles.module.css';

/* Estilos específicos para GeneralForm */
.input {
  padding: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.textarea {
  padding: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.submitButton{
  background-color: var(--green-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  align-content: center;
}

.submitButton:hover {
  background-color: var(--blue-color);
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.submitButton:disabled:hover {
  background-color: var(--green-color);
}